# Dependencies
node_modules/
/.pnp
.pnp.js

# Build files
.next/
out/
dist/

# Runtime files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Lock files
package-lock.json
yarn.lock